<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>REMEDIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="head-container">
    <ion-card-header class="wrapper">
      <div class="head_title">
        <ion-card-title><h4>Guardians</h4></ion-card-title>
      </div>
      <div class="head_buttons">
        <ion-button fill="outline" color="medium">
          <ion-icon name="mail-open"></ion-icon>
        </ion-button>
        <ion-button >
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col 
        size="12" size-xs="4" size-sm="5" size-md="4" size-lg="2" 
        *ngFor="let i of [].constructor(10)">
        <ion-card class="guardian-container" >
          <div class="guardian-container-top">
            <img alt="Guardian Profile" src="../../assets/Character/Old.png"/>
          </div>
          <div class="guardian-container-bottom">
            <ion-card-header>
              <ion-card-title><h6>Guardian Name</h6></ion-card-title>
            </ion-card-header>
            <ion-button (click)="setOpen(true)" color="medium" size="small" >
              <p>View Details</p>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title color="primary">View Guardian</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="view-meds-container">
          
          <div class="view-meds-row-1">
            <ion-card class="view-meds-col-1-img">
              <img src="../../assets/icon/favicon.png" alt="REMEDIO">
            </ion-card>

            <div class="view-meds-col-2-details">
              <ion-item>
                <ion-label><h2>Guardian Name</h2></ion-label>
              </ion-item>
              <ion-item>
                <ion-label><h2>Guardian Type</h2></ion-label>
              </ion-item>
              <ion-item>
                <ion-label><h2>Affiliation</h2></ion-label>
              </ion-item>
            </div>
          </div>

          <div class="view-meds-row-2">
            <ion-item>
              <ion-label><h2>Date invited</h2></ion-label>
            </ion-item>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
